<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">


  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="What did you do this last hour?" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>

  <%  newListItems.forEach(function(item) { %>

    <form action="/delete" method="post">
      <div class="item">
        <p> <span class="datetime"> <%=item.created_at%> </span> | <%=item.description%> </p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>

  <%  }) %>


  </div>

<%- include("footer") -%>
